<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SanTunesIago Powered by MTLabs</h1>

    <p>101.3 KDWB: {{ artist }} - {{ title }}</p>
    <p>97.1 Cities 97: </p>
    <p>94.5 KS95: </p>
    <p>104.1 Jack FM: </p>
    <p>92.5 KQRS: </p>
    <p>107.9 KOOL 108: </p>

    <a href="index.html">Back to main menu</a>

    <footer>
        <p>&copy; 2026 MT Laboratories and Santiago Studios. All rights reserved.</p>
    </footer>
</body>
</html>